<div class="jumbotron">

	<center>
		<h1>Welcome to Luke's Rib Shack!</h1>

		<img src="https://www.qsrmagazine.com/sites/qsrmagazine.com/files/styles/qsrcontent_mainimage/public/emerging-concepts/shane-s-rib-shack.jpg?itok=9-TT4TN4">
		<br>

		<%= link_to "Check out our Menu!", menus_path, class: "btn btn-default" %>
	</center>
</div>
